		        	<!-- calculate overall ratings from all the feedbacks overall ratings -->
		        	<span class="glyphicon glyphicon-star"></span>
		        	<span class="glyphicon glyphicon-star"></span>
		        	<span class="glyphicon glyphicon-star"></span>
		        	<span class="glyphicon glyphicon-star-empty"></span>
		        	<span class="glyphicon glyphicon-star-empty"></span>