<%= javascript_include_tag 'toggle' %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Toilet location</th>
			<th>Overall Rating</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
		<% @toilets.each do |toilet| %>
			<%= render 'home/populate_table', :toilet => toilet %>
		<% end %>

		<% if @cursor %>
		<nav>
			<ul class="pager">
				<li><%= link_to "More", root_path(cursor: @cursor) %></li>
			</ul>
		</nav>
		<% end %>
	</tbody>
</table>