initMap = function() {
  var mel_cbd = {lat:-37.8136, lng: 144.9631};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: mel_cbd
  });

  var infoWin = new google.maps.InfoWindow();
  var markers = locations.map(function(location, i) {
    var marker = new google.maps.Marker({
      position: location
    });
    google.maps.event.addListener(marker, 'click', function(evt) {
      infoWin.setContent(location.info);
      infoWin.open(map, marker);
    })
    return marker;
    // return new google.maps.Marker({
    //   position: location
    // });
  }); 

  // Add a marker clusterer to manage the markers.
  var markerCluster = new MarkerClusterer(map, markers,
      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
}

 <% toilets = Toilet.new.get_public_toilets %>
  var locations = [
  					<% toilets.each do |toilet| %>
            <%
              title = toilet.title.gsub(/"/,"'")
              content = "<h5> #{title} <br><small>"+
                        "<strong>Parentsroom:</strong> #{toilet.parentsRoom}"+
                        "<br><strong>Female:</strong> #{toilet.female}"+
                        "<br><strong>Male:</strong> #{toilet.male}"+
                        "<br><strong>Disabled opt:</strong> #{toilet.disabled_opt}</small></h5>"
            %>
  					{  
              lat:  <%= toilet.lat %>, 
              lng:  <%= toilet.lon %>, 
              info: "<%=content %>"
            }, 
 					<% end %>
 					]; 